
.site_title {
    clear: none;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-decoration: none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    color: white;
    cursor: pointer;
}
.site_title:hover, .site_title:focus {
    opacity: 0.7;    
    text-decoration: none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    outline: 0;
}

.site_description {
    color: white;
    opacity: 0.8;    
    font-size: 13px;
    font-size: 0.8125rem;
    margin-bottom: 0;
}